/* font */
@import url(https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,800;1,800&family=Roboto:ital,wght@0,300;0,900;1,400&display=swap);

html, body, canvas {
	overflow: hidden;
	background: black;
	margin: 0;
	padding: 0;
	height: 100%;
    width: 100%;
}

canvas {
	/* background: radial-gradient(ellipse at bottom, #1b2735c4 0%, #090a0f 100%); */
	background: radial-gradient(ellipse at bottom, #1b273599 0%, #090a0f 100%);
}

#verses:not(.blackground) #source, #verses:not(.blackground) #verse, #announcement, #song, #timerMessage {
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	/* text-shadow: 0px 0px 5em rgba(69, 121, 244, 0.6); LARGE SLOW DOWN due to blur! */
	text-shadow: 0px 0px 0.5em rgba(69, 121, 244, 0.5);
	/*font-family: 'Sedgwick Ave Display' !important; */
}

/*  Decorative background stripes for text */
#verses:not(.blackground) #verse {
	//padding: 0 1.3em;
	line-height: 1.6em;
}

#song {
	padding: 0 0.5em;
}

#verses:not(.blackground) #verse > div {
    line-height: 1.5em;
    color: #fff;
	/* padding-right: 1px;	*/
	/* background: black;
    /* box-shadow: 1.3em 0px 0px 0px black, -1.3em 0 0 0px black, -2px 0 0 2px black inset, 2px 0 0 2px black inset;
    -webkit-box-decoration-break: clone;
	box-decoration-break: clone; */
}

#song > div > span {
	line-height: 1.5em;
    color: #fff;
    /* background: black;
    padding: 0 1em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; */
}

#verse > div { /*, #song > div { */
	display: inline;
}

#songs br {
	display: block;
	margin-bottom: 0.7em;
}

#verses:not(.blackground) {
	font-size: 2.4em;
}

#announcements {
	font-size: 2.5em;
}

#songs {
	font-size: 2.9em;
}

#verses:not(.blackground) #verse .label {
  top: -0.28em;
  font-weight: bold;
  color: white;
}

.frame {
  /* max-width: 90%; */
}

/* Decorative box for announcements */

#announcement {
	padding: 1em 2.5em;
	/* text-shadow: none;
	background-color: rgba(0, 0, 0, 0.70); */
}