/* font */

@import url(https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Roboto:wght@100&display=swap);
#source, #verse, #announcement, #song {
	font-style: normal;
    font-weight: 300;
	font-family: "Exo", sans-serif !important;
	color: white;
	/*font-family: 'Sedgwick Ave Display' !important; */
}

/* background */

body {
	margin: 0;
	width: 100%;
	height: 100vh;
	
	color: #fff;
	background: linear-gradient(-45deg, /*#ee7752, */ #e73c7e, #23a6d5, #23d5ab);
	background-size: 150% 150%;
	animation: gradientBG 50s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*  Decorative background stripes for text */
#verse {
	padding: 0 2.5em;
	line-height: 1.6em;
}

#song {
	padding: 0 1em;
}

#song > div > span {
	line-height: 1.5em;
    color: #fff;
    background: black;
    padding: 0 2.3em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

#verse > div {
    line-height: 1.5em;
    display: inline;
    color: #fff;
    
    background: black;
    box-shadow: 2.5em 0px 0px 0px black, -2.5em 0 0 0px black, -2px 0 0 2px black inset, 2px 0 0 2px black inset;
	padding-right: 1px;
	
    -webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

#songs br {
	display: block;
	margin-bottom: 0.7em;
}

#verses, #songs, #announcements {
	font-size: 2.6em;
}

#verse .label {
  top: -0.28em;
  font-weight: bold;
}

.frame {
  max-width: 90%;
}

/* Decorative box for announcements */

#announcement {
	padding: 1em 2.5em;
	text-shadow: none;
	background-color: rgba(0, 0, 0, 0.70);
}