/* font */
@import url("text-on-black.css");

@import url(https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Roboto:wght@100&display=swap);
#verses:not(.blackground) #source, #verses:not(.blackground) #verse, #announcement, #song, #timerMessage {
	font-style: normal;
    font-weight: 300;
	font-family: "Exo", sans-serif !important;
	color: white;
	/*font-family: 'Sedgwick Ave Display' !important; */
}

/* background */

body {
	margin: 0;
	width: 100%;
	height: 100vh;
	
	color: #fff;
	background: linear-gradient(-45deg, #e73cbc, #23a6d5, #23d5ab);
	/* background: linear-gradient(-45deg, #e73c7e, #23a6d5, #23d5ab); */
	background-size: 250% 250%;
	animation: gradientBG 30s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}