body{
	margin:0;
	padding:0;
	#font-family:"arial",heletica,sans-serif;
	#font-size:12px;
    background: #2980b9 url('blueshapes-bg.png') repeat 0 0;
	-webkit-animation: 50s linear 0s normal none infinite animate;
	-moz-animation: 50s linear 0s normal none infinite animate;
	-ms-animation: 50s linear 0s normal none infinite animate;
	-o-animation: 50s linear 0s normal none infinite animate;
	animation: 50s linear 0s normal none infinite animate;
	/*
	background-size: cover;
	background-position: center center;
	padding: 150px 200px;
	height: 100%;
	box-sizing: border-box;
	box-shadow: inset 0 0 70px 50px black;
	*/
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px -500px;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px -500px;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px -500px;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px -500px;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px -500px;}
}