body {
	margin:0;
	padding:0;
	/* font-family:"arial",heletica,sans-serif;
	#font-size:12px; */
    background: url('gray-pattern-bg.png') repeat 0 0;
	/* #background-color: rgba(77, 132, 221, 0.1);
	#background-color: rgba(62,81,112,0.1);
    #background-blend-mode: multiply; */
	-webkit-animation: 50s linear 0s normal none infinite animate;
	-moz-animation: 100s linear 0s normal none infinite animate;
	-ms-animation: 100s linear 0s normal none infinite animate;
	-o-animation: 100s linear 0s normal none infinite animate;
	animation: 100s linear 0s normal none infinite animate;
	background-size: 5em;
 
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 150px rgba(0,0,0,0.3) inset;
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 626px -626px;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 626px -626px;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 626px -626px;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 626px -626px;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 626px -626px;}
}