/*
#verse {
    background-color: rgba(51, 65, 88, 0.9);
    padding: 1.2em;
    border: 4px solid white;
    outline-color: rgba(51, 65, 88, 0.9);
    outline-width: 0.7em;
    outline-style: solid;
}
*/
/*
@import url(https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display:ital,wght@0,900;1,400);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap);
*/
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);



#source, #verse, #announcement, #song, #timerMessage {
	font-family: 'Roboto' !important;
	font-style: normal;
    font-weight: 300;
	/* #font-family: 'Sedgwick Ave Display' !important; */
}

.frame {  
  /* #max-width: 90%; */
  background: rgb(69,89,122);
  background: linear-gradient(200deg, rgba(69,89,122,0.94) 0%, rgba(62,81,112,0.921988863904937) 21%, rgba(11,24,42,0.92) 100%);
  word-wrap: break-word;
  /* #position: relative; */
  padding: 0.8em;
}


#verses, #announcements, #songs {
	font-size: 2.4em;
}

.frame .inframe {
	/* font-size: 0.5em; */
	padding: 1.8em;
	border: 0.03em solid white;
}

#verses:not(.blackground) #source {
	color: #444D;
    text-shadow: 0px 2px 2px #A888;
}

/*
.frame {
    padding: 1em;
    border-top: 1em solid #47c465;
    border-bottom:1em solid #00deff;
    background-image: 
        linear-gradient(#47c465, #00deff),
        linear-gradient(#47c465, #00deff)
    ;
    background-size:10px 100%;
    background-position:0 0, 100% 0;
    background-repeat:no-repeat;
}
*/