.background {
  background-color: #000;
  bottom:0;
  left:-50%;
  
  position:fixed;
  right:-50%;
  top:0;
  z-index: -1;
}

body {
	font-size: 1.3vi;
}

#songs {
	font-size: 3.4em;
}

#song {
	line-height: 1.1;
}

.centered {
	max-width: 100%;
}