/* Font colors and backgrounds */
#announcements, #songs, #timerMessage, #countdown {
  text-shadow: 0px 2px 3px #00000061;
  color: #282626;
}

#verses:not(.blackground), #verses:not(.blackground) #source {
  text-shadow: 0px 2px 3px #00000061;
  color: #282626;
}

#verses:not(.blackground) #verse .label {
  color: #505050;
  top: -0.32em;
}

/*  Decorative background stripes for text */
#verses:not(.blackground) #verse {
	padding: 0 1.3em;
	line-height: 1.6em;
}

#song {
	padding: 0 0.5em;
}


#song > div > span {
	line-height: 1.5em;
    background: white;
    padding: 0 1em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

#verses:not(.blackground) #verse > div {
	line-height: 1.5em;
    display: inline;
	padding-right: 1px;
	background: white;    
    box-shadow: 1.3em 0px 0px 0px white, -1.3em 0 0 0px white, -2px 0 0 2px white inset, 2px 0 0 2px white inset;
	
    -webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

.blackground #verse > div {
	background: transparent;
	box-shadow: 1.3em 0px 0px 0px transparent, -1.3em 0 0 0px transparent, -2px 0 0 2px transparent inset, 2px 0 0 2px transparent inset;
}

#songs br {
	display: block;
	margin-bottom: 0.7em;
}

#verses:not(.blackground), #announcements {
	font-size: 2.6em;
}

#songs {
	font-size: 2.6em;
}

#verses:not(.blackground) #verse .label {
  top: -0.28em;
  font-weight: bold;
}

.frame {
  max-width: 90%;
}

/* Decorative box for announcements */

#announcement, #timer {
	padding: 1em 2.5em;
	text-shadow: none;
	background-color: rgba(255, 255, 255, 0.84);
}
