* {
  box-sizing: border-box;
}

body, html {
  color: white;
  background: #1e2021;
  padding: 0;
  margin: 0;
  font-family: "Heebo", sans-serif;
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  padding-top: 30px;
  z-index: 1;
  background-image: linear-gradient(rgba(186, 203, 211, 0.2), rgba(186, 203, 211, 0.05) 30%, rgba(186, 203, 211, 0.05) 80%, rgba(180, 203, 214, 0.3)) , url("snow/koushik-chowdavarapu-qitMAOQVEC4-unsplash_mod.jpg");
  /*background-image: linear-gradient(rgba(186, 203, 211, 0.4), rgba(180, 203, 214, 0.6)), url("snow/koushik-chowdavarapu-qitMAOQVEC4-unsplash_small.jpg");*/
  background-size: cover;
  background-position: bottom center;
}

main > .text {
  place-self: center;
  text-align: center;
  max-width: 50vw;
}

.stats {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 10;
  filter: saturate(0);
}

#app canvas {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  mix-blend-mode: overlay;
}

h1 {
  font-size: 6vw;
  font-weight: 100;
  font-family: "Mountains of Christmas", cursive;
  margin: 0 auto 15px;
}

.dg.ac {
  z-index: 2!important;
}

.link {
  display: block;
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: white;
}
/*
#verse .q1 .label, #verse .q1 .label, #verse .q1 .label {
	color: red !important;
}

#verses #verse .label {
    color: red !important;
}
*/