body {
	/*
	font-size: 17px;
	line-height: 1.47059;
	font-weight: 400;
	letter-spacing: -.022em;
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #1d1d1f;
	font-style: normal;
	*/
}



h1:first-letter, h2:first-letter, h3:first-letter {
   margin-left: 0.2em;
}


p:first-letter {
   margin-left: 1em;
}